
a:link {text-decoration: none;
}

li {list-style-type: none;
}
#modal_form {
    width: 95%;
    height: 85%;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

#order{
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}