.order-container, #order-form{
    margin-top: 5%;
}
.order-container form{
    padding: 5%;
    border: 2px solid #040505;
    border-radius: 5px;
    background-color: #495057;
}
.form-group label{
    color: #d39e00;
}
#not_found{
    display: none;
}
.res-items{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3%;
    border: 2px solid #040505;
    border-radius: 5px;
    background-color: #fff3cd;
}
.title-item{
    font-weight: 700;
}
.buy{
    margin-top: 50px;
}
.buy button{
    width: 150px;
}
